@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import './landingPage.scss';
@import './topBar.scss';
@import './modalForm.scss';
@import './userShow.scss';
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kalam&family=Lato:wght@400;700&family=Mukta&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body{
  background-color: #E6E6E6;
}

