@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "@reach/combobox/styles.css";
@import "./landingPage.scss";
@import "./topBar.scss";
@import "./modalForm.scss";
@import "./userShow.scss";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Kalam&family=Lato:wght@400;700&family=Mukta&display=swap");
@import "./sign-in-sign-up-forms.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #e6e6e6;
}

.search {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 20em;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 30px;
}
