.profile-image-container {
  height: 14em;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 1.5em;
  min-height: 12em;
  max-height: 23%;
}

.profile-image-preview{
  aspect-ratio: 1 / 1;
  max-height: 4em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.profile-header{
  margin-top: 1.5em;
  margin-bottom: 1.75em;
}

.profile-header h1{
  color: #374108;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-left: 1.5em;
}

.profile-header p{
  color: #6d7833;
  text-align: center;
  font-size: .75em;
}
.profile-info{
  margin-bottom: 2.5em;
}

.user-show {
  display: flex;
  justify-content: center;
  height: 92vh;
}

.user-info {
  width: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -20px 0px 15px -15px rgba(0, 0, 0, 0.3);  
  margin-right: .05em;
  margin-top: 0.3em;
  border-right: .3px solid rgba(0, 0, 0, 0.3);
  padding-top: 2.5em;
}

.averages{
  font-size: 1.25em;
  font-family: 'Lato', sans-serif;
}

.averages{
  display: flex;
  justify-content: space-between;
}

.averages span{
  font-weight: bold;
  color: #6d7833;
  margin-left: .75em;
}

.chart-container{
  overflow: scroll;
  white-space: nowrap;
}

.chart-container::-webkit-scrollbar {
  width: 0 !important;
}

.golf-round-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 20px 0px 15px -15px rgba(0, 0, 0, 0.3);
  margin-top: 0.3em;
  margin-left: .05em;
}

.golf-rounds {
  padding: 20px;
  overflow: scroll;
  white-space: nowrap;
}

.golf-rounds::-webkit-scrollbar {
  width: 0 !important;
}

.golf-rounds-header {
  height: 5em;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  align-items: center;
  padding: 20px;
}

.golf-rounds-header p {
  font-size: 2.75em;
}

.golf-round-tile {
  height: 15em;
  border-bottom: 0.05px solid black;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.7);
}

.tile-body {
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

.golf-round-tile .date {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  font-size: .75em;
}

.tile-body h2 {
  font-size: 4em;
}

.title-score {
  height: 8em;
  width: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-info {
  height: 8em;
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.tile-info p {
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
}

.golf {
  color: #374108;
  font-size: .75em;
  font-weight: bold;
}

.rounds {
  color: #8abc50;
  font-size: .75em;
  font-weight: bold;
}

.score-box {
  border: 1px solid #374108;
  width: 8em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-box h2{
  font-family: 'Handlee', cursive;
}

.score-top{
  height: 2em;
  width: 8em;
  background-color: #6d7833;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
}

.score-top h4{
  margin-top: 12px;
  font-size: 1em;
}

.holes-played{
  border-bottom: 3px solid #6d7833;
  width: 15em;
  display: flex;
  justify-content: center;
}

.add-round-icon{
  color:#6d7833;
  cursor: pointer;
}

.edit-icon{
  margin-left: 20px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  color:#A1C972;
  cursor: pointer;
}


.edit-icon:hover{
  color:#374108
}

.icons{
  width: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-course-icon{
  color:#6d7833;
  cursor: pointer;
}

.add-course-button, .add-round-button{
  width: 9em;
}
